* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

header {
  background-color: var(--primary-color);
}

h1 {
    font-weight: 500;
    font-size: 5.3em;
    letter-spacing: 2.5px;
    line-height: .95em;
    color: white;
    text-align: center;
    padding: 60px 0;
    max-width: 350px;
    margin: auto;
}

p {
    padding: 34px 2% 15px 2%;
    text-align: center;
    color: var(--primary-color);
    font-size: 1.9em;
}

.box {
    text-align: center;
    background-color: var(--box-color-1);
    margin: 20px auto;
    width: 170px;
    font-size: 5em;
    padding: 25px 0;
    color: var(--primary-color);
    border: 17px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 10px 10px 30px #696464;
}

#box-2 {
  background-color: var(--box-color-2);
}

#box-3 {
  background-color: var(--box-color-3);
}


.score {
  display: flex;
  color: var(--primary-color);
  text-align: center;
  justify-content: center;
}

#wins {
  padding: 10px 20px;
  font-size: 1.9em;
}

#losses {
  padding: 10px 20px;
  font-size: 1.9em;
}

@media (min-width: 765px) {
  .box {
    border-width: 12px;
    padding: 44px 0;
    width: 210px;
    font-size: 6em;
  }
  .boxes {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
  }
  .score {
    padding-top: 30px;
  }
}

@media (min-width: 925px) {
  .box {
    padding: 50px 0;
    width: 255px;
    font-size: 8em;
  }
}